.navbar-container {
  display: flex;
  justify-content: space-between;
  background-color: black;
  font-family: "Roboto", sans-serif;
}
.navbar-title {
  color: #ffffff;
  margin: 0 50px;
  padding: 0;
  overflow: hidden;
}
ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0 50px;
  padding: 0;
  overflow: hidden;
}

li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover {
  background-color: rgb(185, 21, 21);
}
a:hover {
  text-decoration: none;
}
