.form-container {
  background-color: #000000;
}
.movie-form {
  background-color: #ffffff;
  margin: 50px 500px;
  text-align: center;
}
.form-inputs {
  display: flex;
  justify-content: center;
  /* flex-direction: column;
  /* text-align: left; */
  margin: 50px;
}
.form-header {
  color: #000000;
  font-family: "Mada", sans-serif;

  font-size: 20px;
}
.form-submit {
  padding: 10px;
  font-size: 20px;
  color: white;
  background-color: #e50914;
  border-radius: 5px;
  border: none;
}
.form-submit:hover {
  background-color: #ff0000;
}
